.Amount {
    font-family: GothamRounded-Medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.42px;
    color: #002452;
}

.amount-content {
    font-family: GothamRounded-Book;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.38px;
    color: #002452;

    .const-num {
        font-family: GothamRounded-Medium;
    }
}

.warning {
    border-radius: 8px;
    background-color: rgba(229, 153, 55, 0.08);

    .warning-txt {
        font-family: GothamRounded-Light;
        font-size: 16px;
        color: #7d96b3;
    }
}

.cancel {
    &:hover {
        color: #002452;
    }
}

.pm {
    border-radius: 8px;
    border: solid 1px #7d96b3;
}

.pm-title {
    font-family: GothamRounded-Book;
    font-size: 14px;
    color: #002452;
}

.paymentIcon {
    height: 24px;
}

.change-pm {
    font-family: GothamRounded-Medium;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.33px;
    text-align: right;
    color: #1565c0;
}

.CardNumber {
    font-family: GothamRounded-Book;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: -0.5px;
    color: #7d96b3;
}

.select-pm{
    font-family: GothamRounded-Book;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.38px;
    color: #002452;
}