.files-cont {
    margin-top: 65px;
    margin-left: 55px;
    max-width: 773px;
}

.file-title {
    div>span {
        font-family: GothamRounded-Book;
        font-size: 14px;
        letter-spacing: -0.5px;
        color: #7d96b3;
    }

    div+div>span {
        border-left: 1px solid #7d96b3;
    }
}

.file-heading {
    font-family: GothamRounded-Medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.42px;
    color: #002452;
}

.custom-dropzone {
    border: 1px dashed rgba(21, 101, 192, 0.25);
    border-radius: 10px;
    height: 200px;
    // width: 300px;
}

.upload-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.upload-text {
    // margin-top: 1rem;
    font-family: GothamRounded-Book;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.29px;
    text-align: center;
    color: #002452;
}

.upload-lim {
    margin-top: 2rem;
    font-family: GothamRounded-light;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: -0.25px;
    text-align: center;
    color: #7d96b3;
}

.upload-btn {
    margin-top: 15px;
    border-radius: 6px;
    background-color: #e9edf3;
    font-family: GothamRounded-Bold;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.25px;
    text-align: center;
    color: #002452;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.uploading-txt {
    font-family: GothamRounded-Medium;
    font-size: 14px;
    font-weight: 500;
    color: #002452;
}

.file-container {
    height: 131px;
    border-radius: 6px;
    border: solid 1px #e9edf3;
    position: relative;
}

.img-fit {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.desktop-detail-image {
    left: 0px;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    background-color: rgba(0, 36, 82, 0.2);
}

.detail-image-hov {
    background-color: rgba(0, 36, 82, 0.6);

    .size {
        opacity: 0.7;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        color: #ffffff;
    }

    .name {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        color: #ffffff;
    }
}

.tabletName {
    margin-top: 0.4rem;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #002452;
}

.tabletSize {
    margin-top: 0.4rem;
    opacity: 0.7;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #4b6485;
}

.desktop-detail-file {
    left: 0px;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
}

.file-detail {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #002452;

    .size {
        opacity: 0.7;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        color: #002452;
    }
}

.hov-back {
    background-color: rgba(0, 36, 82, 0.6);
}

.skill-buttons {
    margin-top: 2.5rem !important;

    button {
        font-family: GothamRounded-Medium;
        border-radius: 6px;
        background-color: #1565c0;
        font-size: 16px;
        color: #ffffff;
        font-weight: 500;
        height: 48px;
        width: 135px;
    }

    .cancel {
        background: #e9edf3;
        color: #002452;
    }
}

.cloud-btn {
    border-radius: 8px;
    background-color: #e9edf3;
    font-family: GothamRounded-Medium;
    font-size: 14px;
    font-weight: 500;
    color: #7d96b3;
    width: 100px;
    justify-content: flex-end;
}

.cstm-a {
    font-family: GothamRounded-Book;
    font-size: 14px;
    color: #002452;

    &:active {
        background-color: rgba(233, 237, 243, 0.24);
    }
}

.img-file-disp {
    height: 50px;
    width: 50px;
    border-radius: 8px;
    border: 0.5px solid #dfdfdf;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}

.l-name {
    font-family: GothamRounded-Book;
    font-size: 14px;
    color: #002452;
}

.l-size {
    font-family: GothamRounded-Book;
    font-size: 14px;
    color: #7d96b3;
}

.l-time {
    font-family: GothamRounded-Book;
    font-size: 14px;
    color: #7d96b3;
}

::ng-deep {

    .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: #1565c0;
        ;
    }
}

.active_dp {
    background-color: rgba(233, 237, 243, 0.24);
}

.disabled_lst {
    cursor: not-allowed;
}

.del-bg {
    border-radius: 7px;
    background: rgba(193, 193, 192, 0.7490196078431373);
}

.down-bg {
    border-radius: 7px;
    background: rgba(193, 193, 192, 0.28);
}

.downloadStatus {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.no-shared-file {
    font-family: GothamRounded-Book;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.5px;
    color: #7d96b3;
}

::ng-deep {

    div.mat-checkbox-frame{
        border: 1px solid #bdbdbd !important;
    }
}

.test-fit {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1024px) {
    .files-cont {
        max-width: 537px;
    }

    .file-container {
        height: 91px;
    }
}