<div [hidden]="!message"
	class="alert alert-{{type}}"
	role="alert"
	#alertNotice>
	<img src="./assets/media/icons/svg/login/error.svg">
	<span class="alert-text">
		<span 
			style="flex-grow: 0 !important"
			[innerHTML]="message"></span>
		<span >, Need an account?
			<a class="point"
				style="color: #1565c0;"
				href="/auth/register">Sign up</a>
		</span>
	</span>
</div>
<div [hidden]="message"
	class="alert alert-success justify-content-center"
	role="alert"
	#alertNotice2>
	<!-- <img src="./assets/media/icons/svg/login/error.svg"> -->
	<mat-icon style="font-size: 24px !important;" class="d-flex align-items-center">info</mat-icon>
	<span class="alert-success-text d-flex align-items-center ml-2">
		<span 
			style="flex-grow: 0 !important"
			[innerHTML]="'Need an account?'"></span>

		<span class="ml-2">
			<a class="point"
				style="color: #1565c0;"
				href="/auth/register">Sign up</a>
		</span>
	</span>
</div>