<div #parent class="middle-side h-100">
    <div #head class="d-flex sb mw1 blur">
        <div class="head d-flex"
            style="padding-top: 10px;">
            <div *ngIf="innerWidth > 1024"><span>Messages</span></div>
            <div><span>Chat</span></div>
            <div *ngIf="chatTitle != ''"><span>{{ chatTitle | slice:0:19}}</span></div>
        </div>

        <!-- these are hidden for 0.2 release -->
        <!-- <div class="call-gp">
            <div class="ovl vc point">
                <img src="assets/media/icons/svg/message/call.svg">
            </div>

            <div class="ovl vc ml-3 point">
                <img src="assets/media/icons/svg/message/video-call.svg">
            </div>

            <div class="ovl vc ml-3 point">
                <img src="assets/media/icons/svg/message/calendar-add.svg">
            </div>
        </div> -->
    </div>
    <div (dragleave)="dragLeave()"
        (dragenter)="dragEnter()"
        [hidden]="!displayDropArea"
        style="position: absolute; z-index: 3; margin-top: 35px;border-radius: 13px;"
        [style.width]="(parent.offsetWidth - 70)+'px'"
        [style.height]="(parent.offsetHeight - (head.offsetHeight + foot.offsetHeight)) + 'px'"
        class="vc">
        <kt-file-drop-area #fileUploadComp class="w-100 h-100" [messageTo]="messageTo" (dEnter)="dragEnter()" (dLeave)="dragLeave()"
            [user]="currentUser?.user_id"
            [receiver]="otherUser?.user_id"
            [receivers]="otherUsers"
            (fileUploaded)="attachmentUploaded($event)"
            (close)="displayDropArea = 0;"
            [topicId]="this.topic?.topic_id"></kt-file-drop-area>
    </div>

    <perfect-scrollbar #chatContainer (dragenter)="dragEnter()"
    (dragleave)="dragLeave()"
        id="c_box"
        (psYReachStart)="scrollTopEventHandel($event)">
        <ng-container *ngIf="chat.length <= 0 && loadingChat">

            <div class="vc ml-3"
                style="position: absolute;
                    top: 0px;
                    height: 100%;
                    width: 100%;">
                <div>
                    <div class="vc">
                        <mat-spinner diameter="40"></mat-spinner>
                    </div>
                    <div style="margin-left: 1rem;">Loading...</div>
                </div>
            </div>

        </ng-container>
        <div class="body pb-3">

            <div *ngIf="loadingChat && chat.length > 0"
                class="vc ml-3"
                style="height: 36px;">
                <div>
                    <div class="vc">
                        <mat-spinner diameter="40"></mat-spinner>
                    </div>
                    <div style="margin-left: 1rem;">Loading...</div>
                </div>
            </div>

            <ng-container *ngIf="chat.length">
                <ng-container *ngIf="ifToday(chat[0]._time); else notTodayElse">
                    <div class="d-flex my-3"
                        style="justify-content: space-evenly;display: flex; align-items: center">
                        <div style="flex: 1 1 0; flex-grow: 1;">
                            <div class="line"></div>
                        </div>
                        <div class="_time">Today</div>
                        <div style="flex: 1 1 0;flex-grow: 1;">
                            <div class="line"></div>
                        </div>
                    </div>
                </ng-container>

                <ng-template #notTodayElse>
                    <div class="d-flex my-3"
                        style="justify-content: space-evenly;">
                        <div style="flex: 1 1 0; display: flex; align-items: center;flex-grow: 1;">
                            <div class="line"></div>
                        </div>
                        <div class="_time">{{chat[0]._time | date:'longDate'}}</div>
                        <div style="flex: 1 1 0; display: flex; align-items: center;flex-grow: 1;">
                            <div class="line"></div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>


            <ng-container *ngFor="let message of chat; let i = index">


                <div id="msg-{{i}}">
                    <ng-container *ngIf="i > 0">
                        <ng-container *ngIf="dayDifference(message._time, chat[i-1]._time) > 0">

                            <ng-container *ngIf="ifToday(message._time); else notToday">
                                <div class="d-flex my-3"
                                    style="justify-content: space-evenly;display: flex; align-items: center">
                                    <div style="flex: 1 1 0;flex-grow: 1;">
                                        <div class="line"></div>
                                    </div>
                                    <div class="_time">Today</div>
                                    <div style="flex: 1 1 0;flex-grow: 1;">
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-template #notToday>
                                <div class="d-flex my-3"
                                    style="justify-content: space-evenly;">
                                    <div style="flex: 1 1 0; display: flex; align-items: center;flex-grow: 1;">
                                        <div class="line"></div>
                                    </div>
                                    <div class="_time">{{message._time | date:'longDate'}}</div>
                                    <div style="flex: 1 1 0; display: flex; align-items: center;flex-grow: 1;">
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </ng-template>

                        </ng-container>
                    </ng-container>

                    <div *ngIf="i == 0"
                        class="d-flex mt-3"
                        style="width: 100%;">
                        <div class="image-container"
                            style="width: 36px;">
                            <img [src]="userToImgMap[message.sender].img || 'assets/media/profile_images/profile-placeholder-300x300.png' ">
                        </div>
                        <ng-container *ngTemplateOutlet="switchTemplate; context:{message: message, flag:true}"></ng-container>
                    </div>

                    <ng-container *ngIf="i > 0">
                        <div *ngIf="message.sender != chat[i-1].sender || !withinMinute(message._time, chat[i-1]._time);else els"
                            class="d-flex mt-4"
                            style="width: 100%;">
                            <div class="image-container"
                                style="width: 36px;">
                                <img [src]="userToImgMap[message.sender].img || 'assets/media/profile_images/profile-placeholder-300x300.png' ">
                            </div>
                            <ng-container *ngTemplateOutlet="switchTemplate; context:{message: message, flag:true}"></ng-container>
                        </div>

                        <ng-template #els>
                            <div class="d-flex"
                                style="width: 100%;">
                                <div class="image-container"
                                    style="width: 36px; height: auto;">
                                </div>
                                <ng-container *ngTemplateOutlet="switchTemplate; context:{message: message, flag: false}"></ng-container>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </perfect-scrollbar>
    <div  #foot (click)="drop()" class="typingBox d-flex">
        <div class="grow ta m-3"
            style="overflow: auto; outline: none;">
            <div style=" height: 100%;width: 100%; display: flex; align-items: center; cursor: text;"
                (click)="text_box_editor.focus()">
                <div (focus)="typing = true; setEndOfContentEditable()"
                    #text_box_editor
                    (input)="currentMessage = text_box_editor.innerText;"
                    (keydown)="textAreaEnterHandel($event)"
                    (keyup)="currentMessage = text_box_editor.innerText;"
                    (blur)="typing = false"
                    style="min-height:20%; width: 100%; overflow-wrap: anywhere; height: auto; width: 100%;white-space: pre-line;"
                    contenteditable="true"></div>
                    <!-- (keydown)="currentMessage = text_box_editor.innerText;" -->
            </div>

            <div class="placeholder" [class.no-time]="!otherUser || !userLocations[otherUser.user_id]"
                *ngIf="!typing && !currentMessage">
                <div class="userNamePlaceHolder"
                    *ngIf="chatTitle != ''"
                    (click)="taFocus(text_box_editor)">Message {{chatTitle | slice:0:19}}</div>
                <div class="timePlaceHolder"
                    *ngIf="chatTitle != '' && otherUser && userLocations[otherUser.user_id]"
                    (click)="taFocus(text_box_editor)">
                    {{getReceiverTimeString(userLocations[otherUser.user_id])}}
                </div>
            </div>

        </div>
        <!-- <div class="vc mr-4"
            (click)="openUploadModal()">
            <img class="point"
                src="assets/media/icons/svg/message/attachment.svg">
        </div> -->

        <div class="dropdown vc">
            <div class="vc mr-4 dropdown-toggle" id="fileUploadDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="point"
                    src="assets/media/icons/svg/message/attachment.svg">
            </div>
            <div class="dropdown-menu fileDropDrownMenu p-0" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item d-flex point py-3 px-5" (click)="fileUploadComp.openFileSelector()">
                  <img src="assets/media/icons/svg/message/laptop-3.svg" alt="laptop Icon" class="mr-3">
                  <span>Computer</span>
              </a>

              <a class="dropdown-item d-flex point py-3 px-5" (click)="openCloud()">
                  <img src="assets/media/icons/svg/message/cloud-1.svg" alt="cloud Icon" class="mr-3">
                  <span>Kounsel Cloud</span>
              </a>
            </div>
        </div>
        
        <div class="vc mr-4"
            (click)="sendTextMessage()">
            <img class="point"
                [hidden]="sendButtonEnable()"
                src="assets/media/icons/svg/message/send-message.svg">
            <img class="point"
                [hidden]="!sendButtonEnable()"
                src="assets/media/icons/svg/message/send-message-active.svg">
        </div>
    </div>
</div>


<!-- YOUTUBE TEMPLATE -->
<ng-template #youtube
    let-attachment="attachment">
    <div class="mb-2">
        <a class="y-link"
            target="_blank"
            [href]="attachment.youtube_link">https://www.youtube.com/watch?v={{attachment.youtube_id}}</a>
    </div>
    <div class="youtube-container">
        <iframe id="player"
            class="ml-3"
            type="text/html"
            [src]="attachment.youtube_embed"
            frameborder="0"></iframe>
        <div class="ml-3 mt-3 d-flex youtube-logo">
            <img src="assets/media/icons/svg/message/youtube-social-icon-red.png"
                srcset="assets/media/icons/svg/message/youtube-social-icon-red@2x.png 2x,
                         img/youtube-social-icon-red@3x.png 3x">
            <div class="name ml-2">Youtube</div>
        </div>

        <div class="ml-3 mt-3 ">
            <a class="youtube-title"
                [href]="attachment.youtube_link"
                target="_blank">
                {{attachment.title}}
            </a>
        </div>
    </div>
</ng-template>


<!-- image template -->
<ng-template #image
    let-attachment="attachment">
    <div class="img-container test-fit mt-3 point"
        (contextmenu)="false"
        [ngStyle]="{'background-image': 'url(\'' + attachment.original + '\')'}"
        (click)="openImage(attachment.attachment_id)">
        <!-- <img data-object-fit="cover" [src]="attachment.original" (contextmenu)="false"> -->
    </div>
    <div class="modal"
        [id]="attachment.attachment_id"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered term-box " style="max-width: 80vw;"
            role="document">
            <div class="modal-content border-0"
                style="display: block;width: auto;margin:auto">
                <div class="modal-body vc p-0">
                    <img [src]="attachment.original"
                        (contextmenu)="false"
                        style="max-height: 85vh;"
                        class="img-fluid">
                </div>

            </div>
        </div>
        <button type="button"
            class="close close-img mt-3 mr-3"
            data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>


<!-- Video template -->
<ng-template #video
    let-attachment="attachment">
    <div class="video-container mt-3 mb-3">
        <!-- <video controls
            width="80%">
            <source [src]="attachment.original">
        </video> -->

        <kt-vedio-player (stopOthers)="stopOtherVideos($event);"
            [attachment]="attachment"></kt-vedio-player>
    </div>
</ng-template>


<!-- text Template -->
<ng-template #text
    let-message="message">
    <div>
        <div class="msg-txt">
            {{message}}
        </div>
        <!-- <ng-container *ngFor="let item of message">
            <div class="msg-txt"
                *ngIf="!item.isLink">
                {{item.value}}
            </div>

            <span *ngIf="item.isLink">
                <a class="y-link"
                    [href]="item.link"
                    target="_blank">{{item.value}}</a>
            </span>
        </ng-container> -->
    </div>
</ng-template>


<!-- FILE TEMPLATE -->
<ng-template #file
    let-attachment="attachment">

    <div (contextmenu)="false"
        class="file-container mt-3 mb-3">
        <a (contextmenu)="false"
            class="d-flex p-3"
            [href]="attachment.original"
            target="_blank">
            <div (contextmenu)="false"
                style="width: 12%;">
                <!-- <ng-container [ngSwitch]="attachment.media_type">
                <ng-container *ngSwitchCase="571">
                    <img class="point"
                        src="assets/media/icons/svg/message/pdf.svg">
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <img class="point"
                        src="assets/media/icons/svg/message/doc.svg">
                </ng-container>
            </ng-container> -->
                <img (contextmenu)="false"
                    class="point"
                    [src]="iconService.getIconForAttachment(attachment)">

            </div>
            <div (contextmenu)="false"
                class="break-wrd"
                style="width: 88%;">
                <div (contextmenu)="false"
                    class="fileName">{{attachment.title}}</div>
                <div (contextmenu)="false"
                    class="fileSize">{{ bytesToBigUnits(attachment.size) }}</div>
            </div>
        </a>

    </div>
</ng-template>


<!-- Audio template -->
<ng-template #audio
    let-attachment="attachment">
    <div (contextmenu)="false"
        class="file-container mt-3 mb-3 d-flex p-3">
        <div (contextmenu)="false"
            style="width: 12%;">

            <ng-container [ngSwitch]="attachment.audio_link.paused">
                <ng-container *ngSwitchCase="true">
                    <div (contextmenu)="false"
                        class="oval vc point"
                        (click)="playAudio(attachment.audio_link)">
                        <img (contextmenu)="false"
                            src="assets/media/icons/svg/message/triangle.svg">
                    </div>

                </ng-container>

                <ng-container *ngSwitchCase="false">
                    <div (contextmenu)="false"
                        class="oval vc point"
                        (click)="pauseAudio(attachment.audio_link)">
                        <img (contextmenu)="false"
                            src="assets/media/icons/svg/message/pause.svg">
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="break-wrd"
            (contextmenu)="false"
            style="width: 88%;">
            <div (contextmenu)="false"
                class="fileName">{{attachment.title}}</div>
            <div (contextmenu)="false"
                class="fileSize">{{ bytesToBigUnits(attachment.size) }}</div>
            <div (contextmenu)="false">
                <mat-slider class="audio-player-slide"
                    (contextmenu)="false"
                    style="width: 100%; height: 23px;"
                    [value]="attachment.audio_link.audio_meta.played"
                    (change)="seekAudioTo(attachment.audio_link, attachment.audio_link.audio_meta, $event.value)"
                    [min]="0"
                    [max]="100"></mat-slider>
            </div>
            <!-- <div class="d-flex">
                <div class="played"
                    [style.width]="attachment.audio_link.audio_meta.played + '%'"></div>
                <div class="yet-to-be-played"
                    [style.width]="attachment.audio_link.audio_meta.remaining + '%'"></div>
            </div> -->
            <div (contextmenu)="false"
                class="d-flex mt-2"
                style="justify-content: space-between;">
                <div (contextmenu)="false"
                    class="timeStyles">{{toMinutes(attachment.audio_link.currentTime)}}</div>
                <div (contextmenu)="false"
                    class="timeStyles">{{toMinutes(attachment.audio_link.duration)}}</div>
            </div>
        </div>
    </div>

</ng-template>


<!-- Request template -->
<ng-template #request
    let-message="message">
    <div class="msg-txt">
        {{message.message}}
    </div>
</ng-template>


<!-- Event Template -->
<ng-template #event
    let-event="event">
    <div class="event-container mt-3 mb-3 py-3">
        <div *ngIf="currentlyActiveEvent(event.start, event.end); else notNow"
            class="d-flex sb px-3">
            <div class="Active-Appointment vc">Active Appointment</div>
            <div class="join vc py-2">
                <div>Join</div>
            </div>
        </div>

        <ng-template #notNow>
            <div class="d-flex sb px-3"
                *ngIf="getTime().getTime() < event.end">
                <div class="Active-Appointment vc">Appointment</div>
                <div class="vc py-2">
                    <div class="due">Due in: <span>{{dueIn(event.start)}}</span></div>
                </div>
            </div>

            <div class="d-flex sb px-3"
                *ngIf="getTime().getTime() > event.end">
                <div class="Active-Appointment vc">Appointment</div>
                <div class="vc py-2">
                    <div class="due">Was on: <span>{{event.start | date:'MMM d, y, h:mm a'}}</span></div>
                </div>
            </div>

        </ng-template>

        <div class="border-bottom mt-2 mb-3"
            style="border-bottom-color:#dae2eb"></div>

        <div class="event-txt px-3">
            {{event.agenda}}
        </div>

        <div class="d-flex sb px-3 mt-3 event-btm">
            <div>{{event.start| date:'hh:mm a'}}</div>
            <div>{{event.start | date:'d MMM y'}}</div>
            <div>{{event.approxCost | currency:'USD'}}</div>
        </div>
    </div>
</ng-template>


<!-- switch template -->
<ng-template #switchTemplate
    let-flag="flag"
    let-message="message">
    <div class="grow d-flex ml-2 msg-box"
        style="flex-direction: column; width: calc(100% - 42px);">
        <div *ngIf="flag"
            class="sender-name mb-1">{{userToImgMap[message.sender].name}} <span class="sent-time sent-time">{{message._time | date:'h:mm a'}}</span></div>

        <!-- Type 7 -->
        <div class="of-style msg-txt"
            *ngIf="message.type == 7">
            <ng-container *ngTemplateOutlet="request; context:{message: message}"></ng-container>
        </div>

        <div class="of-style"
            *ngIf="message.type == 5">
            <ng-container *ngTemplateOutlet="text; context:{message: message.message}"></ng-container>
        </div>

        <div class="of-style"
            *ngIf="message.type == 2">
            <ng-container *ngTemplateOutlet="event; context:{event: message.event}"></ng-container>
        </div>

        <div class="of-style msg-txt"
            *ngIf="message.type == 3">
            <ng-container [ngSwitch]="message.attachment.media_type">
                <ng-container *ngSwitchCase="593">
                    <ng-container *ngTemplateOutlet="youtube; context:{attachment: message.attachment}"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="577">
                    <ng-container *ngTemplateOutlet="image; context:{attachment: message.attachment}"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="569">
                    <ng-container *ngTemplateOutlet="video; context:{attachment: message.attachment}"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="571">
                    <ng-container *ngTemplateOutlet="file; context:{attachment: message.attachment}"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="601">
                    <ng-container *ngTemplateOutlet="file; context:{attachment: message.attachment}"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="599">
                    <ng-container *ngTemplateOutlet="file; context:{attachment: message.attachment}"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="587">
                    <ng-container *ngTemplateOutlet="audio; context:{attachment: message.attachment}"></ng-container>
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <div>Attachment</div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>


<!-- File upload Modal -->
<div class="modal"
    id="messageFileSendModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered term-box "
        role="document">
        <div class="modal-content">
            <kt-file-upload-area (closed)="attachmentUploaded($event)"
                [receiver]="otherUser?.user_id"
                [receivers]="otherUsers"
                [topicId]="this.topic?.topic_id"></kt-file-upload-area>
        </div>
    </div>
</div>

<kt-cloud-selection-sidebar *ngIf="cloudFileSelect" (close)="cloudSelectClosed($event)" ></kt-cloud-selection-sidebar>