.add-name {
    font-family: GothamRounded-Medium;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.42px;
    color: #002452;
}

div>label {
    font-size: 14px;
    color: #002452;
}

div>input {
    font-size: 16px;
    color: #002452;
    border-radius: 6px;
    border: solid 1px #e9edf3;
    background-color: #ffffff;
    box-shadow: none !important;
}