.chatListTime {
    padding-left: 24px;
    padding-right: 16px;

    .img-cont {
        height: 40px;
        width: 40px;

        img {
            height: 40px;
            width: 40px;
            border-radius: 8px;
        }
    }
}

.title {
    font-family: GothamRounded-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.5px;
    color: #002452;
}

.time {
    font-family: GothamRounded-Book;
    font-size: 13px;
    line-height: 1.23;
    color: #7d96b3;
    min-width: 91px;
    text-align:right;
    justify-content: flex-end;
}

.s-cont {
    border-bottom: 1px solid #dae2eb;
}

.subTitle {
    font-family: GothamRounded-Book;
    font-size: 12px;
    line-height: 1.58;
    letter-spacing: 0.08px;
    color: #1565c0;
}

.msg {
    font-family: GothamRounded-Book;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.09px;
    color: #7d96b3;
    width: 100%;
    overflow-wrap: break-word;
}

.notRead {
    border-radius: 10px;
    background-color: #1565c0;
    font-family: GothamRounded-Book;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.38px;
    color: #ffffff;
}

.active {
    background-color: #f8f9fb;
}

.no-msg {
    font-family: GothamRounded-Book;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.5px;
    color: #7d96b3;
    padding-left: 24px;
    padding-right: 16px;
}

@media (max-width: 1024px) {

    .chatListTime,
    .no-msg {
        padding-left: 10px;
        padding-right: 5px;
    }


}