.signin {
    // width: 99% !important;
    height: 40px !important;
    border-radius: 8px !important;
    background-color: #1565c0 !important;
}

.resetPassword {
    max-width: 450px;
    width: 100%;
    margin: auto;
}

.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.label {
    height: 21px;
    font-family: GothamRounded-Book;
    font-stretch: normal;
    font-style: normal;
    line-height: 21px;
    letter-spacing: normal;
    color: #002452 !important;
    font-size: 14px !important;
    font-weight: 400;
}

.inp {
    height: 37px !important;
    opacity: 0.8 !important;
    font-family: GothamRounded-Light;
    font-size: 14px !important;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: #002452;
    padding-right: 32px;
    border-radius: 8px;
    border-color: rgba(21, 101, 192, 0.1);
}

.login-title {
    height: 28px;
    font-family: "GothamRounded-Bold";
    font-size: 28px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.21px;
    text-align: center;
    color: #002452 !important;
}

.not-allowed{
    cursor: not-allowed !important;
}