<div class="reset-container">
	<div style="width: 100%;">
		<div class="login-title mb-5">
			<h3 class="Sign-In-to-Kounsel">Forgot password?</h3>
		</div>
		<form [formGroup]="passwordResetForm"
			class="resetPassword mb-5">
			<div class="form-group">
				<label for="email"
					class="label">Email</label>
				<input type="email"
					formControlName="email"
					class="form-control inp"
					id="confirm"
					placeholder="Email">
				<small style="color: red; position: absolute;"
					*ngIf="(passwordResetForm.get('email').hasError('required') && passwordResetForm.get('email').touched); else third">Email is required</small>
				<ng-template #third>
					<small style="color: red; position: absolute;"
						*ngIf="passwordResetForm.get('email').hasError('email') && passwordResetForm.get('email').touched">Email format is wrong</small>
				</ng-template>

			</div>

			<button type=""
				(click)="submit()"
				[disabled]="!passwordResetForm.valid"
				class="btn btn-primary btn-elevate kt-login__btn-primary signin px-4 pull-right"
				[class.not-allowed]="!passwordResetForm.valid">Reset Password</button>
		</form>
	</div>
</div>