.divider {
  width: 1px;
  height: 1024px;
  background-color: #f1f5f8;
}

.btn-save {
  width: 128px;
  height: 40px;
  border-radius: 6px;
  background-color: #1565c0;
  font-family: GothamRounded-Medium;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.btn-cancel {
  width: 135px;
  height: 40px;
  border-radius: 6px;
  background-color: #e9edf3;
  font-family: GothamRounded-Medium;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.33px;
  text-align: center;
  color: #002452;
}

.left-side {
  background: #fff;
  padding-top: 53px;
  padding-left: 24px;
  padding-right: 16px;
  border-right: 1px solid #f1f5f8;
  width: 272px;

  .head {
    .Profile {
      font-family: GothamRounded-Medium;
      font-size: 32px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.67px;
      color: #002452;
      margin-bottom: 0;
      padding-left: 10px;
    }


  }

  .left-side-menu-list {
    .sub-title {
      font-family: GothamRounded-Medium;
      font-size: 12px;
      font-weight: 500;
      color: #7d96b3;
      margin-bottom: 12px;
      padding-left: 9px;
      display: block;
    }

    .side-menu-ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        a {
          padding: 9px;

          svg {
            stroke: #002452;
          }

          span {
            font-family: GothamRounded-Book;
            font-size: 16px;
            font-weight: normal;
            letter-spacing: -0.57px;
            color: #002452;
          }

          &.active {
            border-radius: 6px;
            background-color: rgba(233, 237, 243, 0.5);
          }
        }
      }
    }
  }
}

.middle-side {
  background: #fcfdfd;
  padding-top: 65px;
  padding-left: 45px;
  padding-right: 60px;

  .tag-head {
    span {
      font-family: GothamRounded-Book;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: -0.5px;
      color: #7d96b3;
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid rgba(125, 150, 179, 0.3);

      &:last-child {
        border-right: none;
      }
    }
  }

  .basic-profile,
  .select-category {
    .sub-title {
      h5 {
        font-family: GothamRounded-Medium;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.42px;
        color: #002452;
      }
    }

    .basic-profile-form {
      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          label {
            font-family: GothamRounded-Book;
            font-size: 14px;
            font-weight: normal;
            color: #002452;
          }

          .form-control {
            font-size: 16px;
            font-family: GothamRounded-Book;
            color: #002452;
            border-radius: 6px;
            border: solid 1px #e9edf3;
            background-color: #ffffff;

            &:focus {
              border-color: #1565c0;
            }

            &::placeholder {
              /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: rgba(0, 36, 82, 0.5);
              opacity: 1;
              /* Firefox */
            }

            &:-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: rgba(0, 36, 82, 0.5);
            }

            &::-ms-input-placeholder {
              /* Microsoft Edge */
              color: rgba(0, 36, 82, 0.5);
            }
          }

          ::ng-deep.custom {
            .ng-select-container {
              border-radius: 6px;
              border: solid 1px #e9edf3;
              background-color: #ffffff;

              .ng-value-container {
                padding: 10px 4px 6px 16px;

                .ng-placeholder {
                  position: unset;
                  color: rgba(0, 36, 82, 0.5);
                  font-family: GothamRounded-Book;
                  font-size: 16px;
                  padding-left: 0;
                  padding-bottom: 0;
                }

                .ng-input {
                  padding: 0 0 5px;

                  input {
                    font-family: GothamRounded-Book;
                    font-size: 16px;
                    line-height: normal;
                    color: #002452;
                  }
                }

                .ng-value {
                  background: none;
                  font-family: GothamRounded-Book;
                  font-size: 16px;
                  line-height: normal;
                  color: #002452;
                  padding: 0;

                  .ng-value-icon {
                    display: none;
                  }
                }
              }

              .ng-arrow-wrapper {
                padding-right: 16px;
              }
            }

            .ng-select-multiple {
              border-radius: 6px;
              box-shadow: 0 10px 20px 0 rgba(0, 36, 82, 0.06);
              border: solid 1px #e9edf3;
              background-color: #ffffff;
              margin: 2px 0;

              .ng-option {
                .custom-control {
                  padding-left: 30px;

                  .custom-control-label {
                    font-family: GothamRounded-Book;
                    font-size: 14px;
                    color: #002452;
                    vertical-align: middle;
                    line-height: 24px;

                    &:after {
                      width: 16px;
                      height: 16px;
                      border-radius: 2px;
                      border: solid 1px #e9edf3;
                      left: -26px;
                    }

                    &:before {
                      width: 16px;
                      height: 16px;
                      border-radius: 2px;
                      left: -26px;
                    }
                  }

                  .custom-control-input:checked~.custom-control-label::before {
                    border: solid 1px #1565c0 !important;
                    background-color: #1565c0 !important;
                  }
                }

                &:hover,
                &.ng-option-selected {
                  background-color: rgba(21, 101, 192, 0.1);
                }
              }
            }

            &.ng-select-opened {
              .ng-select-container {
                border-color: #1565c0;
              }
            }
          }
        }
      }
    }
  }
}

.right-side {
  padding-top: 65px;
  box-shadow: 0 2px 4px 0 rgba(0, 36, 82, 0.1);
  background-color: #ffffff;

  .select-category {
    .sub-title {
      h5 {
        font-family: GothamRounded-Medium;
        font-size: 20px;
        line-height: normal;
        letter-spacing: -0.42px;
        color: #002452;
        margin: 0;
        padding: 16px 24px;
        border-bottom: 1px solid #e9edf3;
      }
    }
  }
}

.ml-10 {
  margin-left: 10px;
}

mat-panel-title {
  width: 136px;
  height: 14px;
  font-family: GothamRounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #002452;
}

.tempSide {
  background-color: #fcfdfd;
}

.max-width-web-view {
  max-width: 554px;
}

.fill-space {
  flex: 1 1 auto;
}


// input[type=number]::-webkit-inner-spin-button, 
// input[type=number]::-webkit-outer-spin-button { 
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     margin: 0; 
// }


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.head-base-red {
  span {
    font-family: GothamRounded-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
    border-radius: 5px;
    padding: 8px 16px;
  }
}

.red {
  color: #ef2a2a;
  background-color: rgba(239, 42, 42, 0.1);
}

.green {
  color: #43A047;
  background-color: #E8F5E9;
}

.grey {
  color: #9E9E9E;
  background-color: #EEEEEE;
}


._tab {
  flex-wrap: wrap;
  min-width: 212px;
}

.width-fix {
  width: calc(100% - 273px);
}

@media (max-width: 1024px) {

  // ._tab{
  //   flex-direction: column;
  //   align-items: baseline !important;
  // }
  .left-side {
    width: 240px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .head-base-red {
    margin-top: 0.5rem;
  }

  .width-fix {
    width: calc(100% - 240px);
  }
}