/* You can add common styles to this file */

.w-49 {
  width: 49% !important;
}

.w-75 {
  width: 75% !important;
}

.w-99 {
  width: 99% !important;
}

.w-100 {
  width: 100% !important;
}

.h-99 {
  height: 99% !important;
}

.h-75 {
  height: 75% !important;
}
.w-80 {
  width: 80% !important;
}

.h-80 {
  height: 80% !important;
}

.p-0 {
  padding: 0px !important;
}



.mat-error {
  color: #ef2a2a !important;
  font-family: GothamRounded-Light !important;
  font-weight: 300 !important;
  font-size: 12px !important;
}

.ng-clear-wrapper {
  display: none;
}

.ico-menu-profile {
  background: url("assets/media/icons/svg/Profile/profile.svg") no-repeat center center;
}

.ico-menu-service {
  background: url("assets/media/icons/svg/Profile/service.svg") no-repeat center center;
}

.ico-menu-setting {
  background: url("assets/media/icons/svg/Profile/set.svg") no-repeat center center;
}

.ico-menu-appointment {
  background: url("assets/media/icons/svg/Profile/calendar.svg") no-repeat center center;
}

.ico-menu-message {
  background: url("assets/media/icons/svg/Profile/chat.svg") no-repeat center center;
}

.ico-menu-file {
  background: url("assets/media/icons/svg/Profile/file.svg") no-repeat center center;
}

.ico-menu-payment {
  background: url("assets/media/icons/svg/Profile/payment.svg") no-repeat center center;
}

.ico-menu-transaction {
  background: url("assets/media/icons/svg/Profile/transactions.svg") no-repeat center center;
}

.ico-menu-meeting {
  background: url("assets/media/icons/svg/Profile/meeting.svg") no-repeat center center;
}