/* You can add custom fonts styles to this file */

@font-face {
  font-family: "GothamRounded-Medium";
  src: url(assets/fonts/gotham-rounded/gotham-rounded-medium/Gotham-Rounded-Medium.eot);
  src: url(assets/fonts/gotham-rounded/gotham-rounded-medium/Gotham-Rounded-Medium.eot) format('eot'),
  url(assets/fonts/gotham-rounded/gotham-rounded-medium/Gotham-Rounded-Medium.woff) format('woff'),
  url(assets/fonts/gotham-rounded/gotham-rounded-medium/Gotham-Rounded-Medium.ttf) format('truetype'),
  url(assets/fonts/gotham-rounded/gotham-rounded-medium/Gotham-Rounded-Medium.svg) format('svg'),
  url(assets/fonts/gotham-rounded/gotham-rounded-medium/Gotham-Rounded-Medium.otf) format('opentype')
}

@font-face {
  font-family: "GothamRounded-Light";
  src: url(assets/fonts/gotham-rounded/gotham-rounded-light/Gotham-Rounded-Light.eot);
  src: url(assets/fonts/gotham-rounded/gotham-rounded-light/Gotham-Rounded-Light.eot) format('eot'),
  url(assets/fonts/gotham-rounded/gotham-rounded-light/Gotham-Rounded-Light.woff) format('woff'),
  url(assets/fonts/gotham-rounded/gotham-rounded-light/Gotham-Rounded-Light.ttf) format('truetype'),
  url(assets/fonts/gotham-rounded/gotham-rounded-light/Gotham-Rounded-Light.svg) format('svg'),
  url(assets/fonts/gotham-rounded/gotham-rounded-light/Gotham-Rounded-Light.otf) format('opentype')
}

@font-face {
  font-family: "GothamRounded-Book";
  src: url(assets/fonts/gotham-rounded/gotham-rounded-book/Gotham-Rounded-Book.eot);
  src: url(assets/fonts/gotham-rounded/gotham-rounded-book/Gotham-Rounded-Book.eot) format('eot'),
  url(assets/fonts/gotham-rounded/gotham-rounded-book/Gotham-Rounded-Book.woff) format('woff'),
  url(assets/fonts/gotham-rounded/gotham-rounded-book/Gotham-Rounded-Book.ttf) format('truetype'),
  url(assets/fonts/gotham-rounded/gotham-rounded-book/Gotham-Rounded-Book.svg) format('svg'),
  url(assets/fonts/gotham-rounded/gotham-rounded-book/Gotham-Rounded-Book.otf) format('opentype')
}

@font-face {
  font-family: "GothamRounded-Bold";
  src: url(assets/fonts/gotham-rounded/gotham-rounded-bold/Gotham-Rounded-Bold.eot);
  src: url(assets/fonts/gotham-rounded/gotham-rounded-bold/Gotham-Rounded-Bold.eot) format('eot'),
  url(assets/fonts/gotham-rounded/gotham-rounded-bold/Gotham-Rounded-Bold.woff) format('woff'),
  url(assets/fonts/gotham-rounded/gotham-rounded-bold/Gotham-Rounded-Bold.ttf) format('truetype'),
  url(assets/fonts/gotham-rounded/gotham-rounded-bold/Gotham-Rounded-Bold.svg) format('svg'),
  url(assets/fonts/gotham-rounded/gotham-rounded-bold/Gotham-Rounded-Bold.otf) format('opentype')
}
