.close {
  width: 18px;
  height: 18px;
  object-fit: contain;
  float: left;
  opacity: 1;
  position: absolute;
  top: 20px;
}

.Sign-in-from-mobile {
  .Sign-in-from-mobile-img {
    width: 100%;

    .clip-bad-gateaway {
      width: 100%;
    }
  }

  .sign-note {
    width: 228px;
    opacity: 0.8;
    font-family: GothamRounded-Light;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #002452;
    margin: 23px auto 40px;
  }
}
