.max-width-web-view {
    max-width: 554px;
}

* {
    font-family: GothamRounded-Book;
}

.tag-head {
    span {
        font-family: GothamRounded-Book;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: -0.5px;
        color: #7d96b3;
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid rgba(125, 150, 179, 0.3);

        &:last-child {
            border-right: none;
        }
    }
}

.basic-profile {
    .sub-title {
        h5 {
            font-family: GothamRounded-Medium;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -0.42px;
            color: #002452;
        }
    }
}

.desc-text {
    font-size: 14px;
    font-weight: normal;
    color: #002452;
}

.new-inq {

    font-family: GothamRounded-Book;
    font-size: 14px;
    font-weight: 600;
    color: #7d96b3;
}

.vp {
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 1rem;
}

.txt {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #002452;
}

.sld {
    display: flex;
    align-items: center;
}



.switch-container {
    display: flex;
    flex-direction: row-reverse;
}


.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 29px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e9edf3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 1.3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1565c0;
}

//   input:focus + .slider {
//     box-shadow: 0 0 1px #1565c0;
//   }

input:checked+.slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.subtxt {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.5px;
    color: #7d96b3;
}

.ogd {
    font-size: 14px;
    font-weight: 500;
    color: #7d96b3;
}

._radio {
    display: flex;
    flex-direction: column;

    mat-radio-button {
        font-size: 14px;
        color: #002452;
    }
}

::ng-deep {
    .mat-radio-outer-circle {
        border-color: #E0E0E0;
        border-width: 1.5px !important;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: #1565c0;
    }

    .mat-radio-inner-circle {
        background-color: #1565c0;
    }
}